<?xml version="1.0" encoding="utf-8"?>
<!-- Jediné oprávnění je INTERNET: appka mluví jen s adresou Rozcestníku, kterou si uživatel zadá. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cz.katka.rozcestnik">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="@string/app"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:usesCleartextTraffic="false"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity>
        <!-- Okýnko „Uložit do Rozcestníku": cíl sdílení z jiných appek, widget i zkratka. -->
        <activity
            android:name=".CaptureActivity"
            android:exported="true"
            android:label="@string/app"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar.MinWidth">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <receiver android:name=".QuickWidget" android:exported="true" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
    </application>
</manifest>
